.search-dropdown {
  background: linear-gradient(180deg, #1e2128 0%, #1e242b 100%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.07);
  border: none;
  @apply rounded-t-xl h-10 w-60;
}

.search-dropdown-submit {
  border-radius: 12px;
  height: 41px;
  border: none;

  background: linear-gradient(180deg, #1e2128 0%, #1e242b 100%);
  outline: none;
  border: 0;
}

.search-input {
  width: 200px;
  height: 30px;
  padding: 5px;
}

.dropdown-list {
  background: linear-gradient(180deg, #1e2128 0%, #1e242b 100%);
  width: inherit;
  @apply rounded-b-xl z-10 text-gray-200 absolute list-none left-0 top-full;
}
