/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "components";
@import "utils";

* {
  box-sizing: border-box;
  font-family: inherit;
  font-family: "Proxima Nova Regular", serif;
  padding: 0;
  margin: 0;
}
