.base-container {
  float: right;
}

.main-label {
  font-size: 32px;
  color: #ffffff;
  margin-top: 21px;
}

.table-purchase {
  width: 880px;
  margin-top: 37px;

  h1 {
    color: #777e90;
    font-size: 16px;

    span:nth-child(1) {
      margin-left: 205px;
    }

    span:nth-child(2) {
      margin-left: 180px;
    }

    span:nth-child(3) {
      margin-left: 80px;
    }

    span:nth-child(4) {
      margin-left: 138px;
    }
  }
}

.product-item {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 24px;

  .product-content {
    color: white;
    font-family: "Proxima Nova Light", serif;
    font-size: 16px;
  }

  .product-name {
    margin-left: 21px;
  }

  .purchase-date {
    margin-left: 136px;
  }

  .product-rating {
    margin-left: 73px;
    display: inline-block;

    img {
      width: 11px;
      display: inline-block;
      height: 11px;
      margin-top: -1px;
      margin-right: 2px;
    }
  }

  .product-cost {
    margin-left: 150px;
  }

  a {
    border-radius: 25px;
    background: rgba(89, 107, 150, 0.3);
    backdrop-filter: blur(25px);
    max-width: 880px;

    .product-logo {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      height: 116px;
      width: 182px;
    }
  }
}

.show-more {
  a {
    margin-top: 47px;
    display: block;
    max-width: 100%;
    background: #3a4155;
    border-radius: 12px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    font-size: 18px;

    &:hover {
      background: #2d394f;
    }
  }
}
