<h1 class="main-label">Історія покупок</h1>
<div class="table-purchase">
  <h1><span>ПРОДУКТ</span><span>ДАТА</span><span>ОЦІНКА</span><span>ЦІНА</span></h1>
  <div class="product-item text-sm text-left">
    <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
      <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
      <div class="product-content">
        <p class="mb-1"><span class="product-name">Cyberpunk 2077</span><span class="purchase-date">30.03.2023</span><span class="product-rating"><img src="./assets/icons/solar_star-icon.svg" alt="star">5.0</span><span class="product-cost">1 750₴</span></p>
      </div>
    </a>
  </div>
  <div class="product-item text-sm text-left">
    <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
      <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
      <div class="product-content">
        <p class="mb-1"><span class="product-name">Cyberpunk 2077</span><span class="purchase-date">30.03.2023</span><span class="product-rating"><img src="./assets/icons/solar_star-icon.svg" alt="star">5.0</span><span class="product-cost">1 750₴</span></p>
      </div>
    </a>
  </div>
  <div class="product-item text-sm text-left">
    <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
      <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
      <div class="product-content">
        <p class="mb-1"><span class="product-name">Cyberpunk 2077</span><span class="purchase-date">30.03.2023</span><span class="product-rating"><img src="./assets/icons/solar_star-icon.svg" alt="star">5.0</span><span class="product-cost">1 750₴</span></p>
      </div>
    </a>
  </div>
  <div class="show-more border-blue-300">
    <a href="#" >Показати ще</a>
  </div>
</div>

<div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <a href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-800 dark:border-gray-600">
    Profile
  </a>
  <a href="#" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Settings
  </a>
  <a href="#" class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Messages
  </a>
  <a href="#" class="block w-full px-4 py-2 rounded-b-lg cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    Download
  </a>
</div>


