
<div class="list-group text-sm font-medium text-gray-900">
  <a [routerLink]="'../../profile'" aria-current="true" class="block w-full px-4 py-2 cursor-pointer">
    <img src="./assets/icons/profile-icon.svg" alt="">
    Основні дані
  </a>
  <a href="#" class="block w-full px-4 py-2 cursor-pointer">
    <img src="./assets/icons/security-icon.svg" alt="">
    Безпека і пароль
  </a>
  <a [routerLink]="'history'" routerLinkActive="active" [ngClass]="" class="block w-full px-4 py-2 cursor-pointer">
    <img src="./assets/icons/purchase_history-icon.svg" alt="">Історія покупок
  </a>
  <a href="#" class="block w-full px-4 py-2 cursor-pointer">
    <img src="./assets/icons/notifications-icon.svg" alt="">
    Сповіщення
  </a>
</div>
