
<div class="list-group text-sm font-medium text-gray-900">
  <a href="#" aria-current="true" class="block w-full px-4 py-2 text-white bg-blue-700 cursor-pointer dark:bg-gray-800 dark:border-gray-600">
    <img src="./assets/icons/profile-icon.svg" alt="">
    Основні дані
  </a>
  <a href="#" class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    <img src="./assets/icons/security-icon.svg" alt="">
    Безпека і пароль
  </a>
  <a href="#" class="block w-full px-4 py-2 cursor-pointer dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    <img src="./assets/icons/purchase_history-icon.svg" alt="">
    Історія покупок
  </a>
  <a href="#" class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
    <img src="./assets/icons/notifications-icon.svg" alt="">
    Сповіщення
  </a>
</div>
