<div class="base-container">
  <div class="reset-pass-block">
    <div class="content">
      <h1 class="main-label">Змінити пароль</h1>
      <h1 class="notification-label">З метою безпеки ми рекомендуємо вибрати пароль, який ви ще не використовували в інших облікових записах.</h1>
      <div class="current-pass">
        <label for="current-pass" class="block ">Поточний пароль</label>
        <input
          type="password"
          formControlName="current-pass"
          name="current-pass"
          id="current-pass"
          class="text-sm p-2.5 sign-up-input"
        />
      </div>
      <div class="new-pass">
        <label for="new-pass" class="block">Новий пароль</label>
        <input
          type="password"
          formControlName="new-pass"
          name="new-pass"
          id="new-pass"
          class="text-sm p-2.5 sign-up-input"
        />
        <h2>У паролі має бути щонайменше 7 символів.</h2>
      </div>
      <div class="new-pass-double">
        <label for="new-pass-double">Повторно введіть новий пароль</label>
        <h2>У паролі має бути як мінімум 1 цифра.</h2>
        <input
          type="password"
          formControlName="new-pass-double"
          name="new-pass-double"
          id="new-pass-double"
          class="text-sm p-2.5 sign-up-input"
        />
        <h2 class="last-label-double">Пароль не повинен містити пробілів.</h2>
      </div>
      <div class="approve-buttons">
        <a href="" class="approve">Зберегти зміни</a>
        <a href="" class="reset">Скинути зміни</a>
      </div>
    </div>
  </div>
</div>
<app-user-listgroup></app-user-listgroup>
