<div class="base-container">
  <div class="catalogue-items">
    <div class="sorting-block">
      <a href="" class="sort-link">Усі позиції</a>
      <a href="" class="sort-link">Акції</a>
      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="dropdown-sort text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg  text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Сортування <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
      <!-- Dropdown menu -->
      <div id="dropdown" class="dropdown-sort-list z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <div class="flex items-center">
              <label for="default-radio-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">За назвою (A-Z)</label>
              <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <label for="default-radio-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Дорожче</label>
              <input checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <label for="default-radio-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Дешевше</label>
              <input id="default-radio-3" type="radio" value="" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-item text-sm text-left">
      <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
        <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
        <div class="product-content">

        </div>
      </a>
    </div>
    <div class="product-item text-sm text-left">
      <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
        <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
        <div class="product-content">

        </div>
      </a>
    </div>
    <div class="product-item text-sm text-left">
      <a href="#" class="flex flex-col items-center rounded-lg shadow md:flex-row md:max-w-xl">
        <img class="product-logo object-cover w-full md:h-auto md:w-48" src="./assets/images/cyberpunk_logo.png" alt="">
        <div class="product-content">

        </div>
      </a>
    </div>
    <div class="show-more border-blue-300">
      <a href="#" >Показати ще</a>
    </div>
  </div>
</div>


<!-- filter-menu -->


<div class="filter-menu-container" style="float: left">
  <div class="catalogue-label">
    <img src="./assets/icons/catalogue-icon.svg" alt="catalogue">
    <h1>Каталог</h1>
  </div>
  <div class="filter-menu">
    <h1 class="cost-label">Вартість <span>(₴)</span></h1>
    <div class="cost-regulator">
      <div>
        <h1>Мін.</h1>
        <input>
      </div>
      <div>
        <h1>Макс.</h1>
        <input>
      </div>
    </div>
    <div class="platform-selector">
      <h1 class="platform-label">Платформи</h1>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/steam-icon.svg" alt="steam" class="w-[20px] h-[20px]">
          Steam
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/epic-games-icom.svg" alt="epic" class="w-[20px] h-[24px]">
          Epic Games Store
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/ea-icon.svg" alt="ea" class="w-[24px] h-[11.68px]">
          EA App
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/ubisoft-icon.svg" alt="ubisoft" class="w-[19.32px] h-[20px]">
          Ubisoft Connect
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/battle-net-icon.svg" alt="battlenet" class="w-[24.5px] h-[24.5px]">
          Battle.net
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/xbox-icon.svg" alt="xbox" class="w-[20px] h-[20px]">
          Xbox
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/play-station-icon.svg" alt="playstation" class="w-[20.04px] h-[15.46px]">
          Playstation
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/mac-os-icon.svg" alt="macos" class="w-[24px] h-[24px]">
          Mac OS X
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/linux-icon.svg" alt="linux" class="w-[20px] h-[20px]">
          Linux + SteamOS
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/microsoft-icon.svg" alt="microsoft" class="w-[19px] h-[19px]">
          Microsoft Store
        </a>
      </div>
      <div>
        <a href="#">
          <img src="./assets/icons/platforms/gog-icon.svg" alt="gog" class="w-[22px] h-[19px]">
          GOG
        </a>
      </div>
    </div>
    <div class="genre-selector">
      <h1 class="genre-label">Жанри</h1>
      <div>
        <a href="#">Екшени</a>
      </div>
      <div>
        <a href="#">Шутери</a>
      </div>
      <div>
        <a href="#">Пригоди</a>
      </div>
      <div>
        <a href="#">Рольові</a>
      </div>
      <div>
        <a href="#">Інді</a>
      </div>
      <div>
        <a href="#">Симулятори</a>
      </div>
      <div>
        <a href="#">Стратегії</a>
      </div>
      <div>
        <a href="#">Аркади</a>
      </div>
      <div>
        <a href="#">Спорт та гонки</a>
      </div>
      <div>
        <a href="#">Казуальні</a>
      </div>
      <div>
        <a href="#">Хорори</a>
      </div>
      <div>
        <a href="#">Виживання</a>
      </div>
      <div>
        <a href="#">Відкритий світ</a>
      </div>
      <div>
        <a href="#">З сюжетом</a>
      </div>
    </div>
    <a href="" class="certificates-link">Ваучери</a>
  </div>
</div>
